HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Jekyll / Bundler ###
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.bundle/
vendor/bundle/
node_modules/
room-3d/web/node_modules/
*.blend1
